/* v. 1.9 */
.i,
#i {
  font-style: italic;
}
.b,
#b {
  font-weight: bold;
}

.u,
#u {
  text-decoration: underline;
}

.tt,
#tt {
  font-family: lucida console, courier, modern, rod, monospace;
}
.s,
#s {
  text-decoration: line-through;
}
.o,
#o {
  text-decoration: overline;
}

.center,
#center {
  text-align: center;
}
.right,
#right {
  text-align: right;
}
.left,
#left {
  text-align: left;
}

.size-1,
#size-1 {
  font-size: 10px;
}
.size-2,
#size-2 {
  font-size: 20px;
}
.size-3,
#size-3 {
  font-size: 30px;
}
.size-4,
#size-4 {
  font-size: 40px;
}

.arial,
#arial {
  font-family: arial;
}
.algerian,
#algerian {
  font-family: algerian;
} 
.bookman,
#bookman {
  font-family: bookman;
}
.braggadocio,
#braggadocio {
  font-family: braggadocio;
}
.courier,
#courier {
  font-family: courier;
}
.desdemona,
#desdemona {
  font-family: desdemona;
}
.garamond,
#garamond {
  font-family: garamond;
}
.modern,
#modern {
  font-family: modern;
}
.symbol,
#symbol {
  font-family: symbol;
}
.wingdings,
#wingdings {
  font-family: wingdings;
}

.sups,
#sups {
  vertical-align: super;
  font-size: smaller;
}
.subs,
#subs {
  vertical-align: sub;
  font-size: smaller;
}
.supl,
#supl {
  vertical-align: super;
  font-size: larger;
}
.subl,
#subl {
  vertical-align: sub;
  font-size: larger;
}

.white,
#white {
  color: #FFFFFF;
}
.silver,
#silver {
  color: #C0C0C0;
}
.gray,
#gray {
  color: #808080;
}
.black,
#black {
  color: #000000;
}
.red,
#red {
  color: #FF0000;
}
.maroon,
#maroon {
  color: #800000;
}
.yellow,
#yellow {
  color: #FFFF00;
}
.olive,
#olive {
  color: #808000;
}
.lime,
#lime {
  color: #00FF00;
}
.green,
#green {
  color: #008000;
}
.aqua,
#aqua {
  color: #00FFFF;
}
.teal,
#teal {
  color: #008080;
}
.blue,
#blue {
  color: #0000FF;
}
.navy,
#navy {
  color: #000080;
}
.fuchsia,
#fuchsia {
  color: #FF00FF;
}
.purple,
#purple {
  color: #800080;
}
/* If you want somthing different, use your own CSS with !important after it to override this code. */
